* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-forth {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.heading-forth {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}
.container {
  /* 1140px */
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section {
  transition: transform 1s, opacity 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eb7e7e;
  padding: 3.2rem;
  height: 8rem;
  box-shadow: 0 1.2rem 2.4rem rgba(#000, #000, #000, 0.5);
  background-color: #fff;
  width: 100%;
  font-size: 2rem;
}

.main-nav-items {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.main-nav-link:link,
.main-nav-link:visited,
.contact:link,
.contact:visited {
  font-weight: 500;
  transition: all 0.5s;
  text-decoration: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #000;
}
.contact:link,
.contact:visited {
  color: #fff;
}

.contact {
  padding: 1.6rem 3.2rem;
  background-color: rgba(235, 126, 126, 1);
  border-radius: 0.9rem;
}
.contact:hover,
.contact:active {
  background-color: #bc6565;
}
.main-nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9999999999;
  width: 100%;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 999999;
}
.btn-mobile-nav ion-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.btn-mobile-nav ion-icon[name="close-outline"] {
  display: none;
}
/* ****************************************************** */
/* *******Modal Contact*************** */
/* ****************************************************** */

.logo {
  text-decoration: none;
  color: rgba(235, 126, 126, 1);
  font-size: 4.8rem;
  font-weight: 700;
}
.section-hero {
  position: relative;
  padding: 4.8rem 0 9.6rem 0;
  background: linear-gradient(-20deg, #e0eaf3 0%, #e3ecf5 6%, #ffffff 57%);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
  padding-top: 3.2rem;
  align-items: center;
  justify-content: center;
}

.highlited-text {
  color: rgba(235, 126, 126, 1);
  text-shadow: 2px 2px #000;
}

.text-as-subheading {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  color: #333;
}
.link-learn-more {
  display: inline-block;
  color: #fff;
  background-color: rgba(235, 126, 126, 1);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}
.link-learn-more:hover,
.link-learn-more:active {
  background-color: #bc6565;
}
.image {
  width: 60rem;
  height: auto;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
  z-index: 999;
}

.slide {
  position: absolute;
  top: 0;
  width: 60rem;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 60rem;
  height: 41.131rem;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}
.image-width {
  width: 60rem !important;
}
.container-logos {
  margin-top: 1.4rem;

  display: flex;
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
}
.featured-in-image {
  height: 5rem;
  filter: brightness(0);
  opacity: 40%;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  color: #888;
  margin-top: 2rem;
}
/* ****************************************************** */
/* *******SECTION 2*************** */
/* ****************************************************** */
/* .section-dograma {
  padding: 2.4rem 9.6rem 4.8rem 0;
} */
.section-dograma {
  padding-top: 2.4rem;
  background-color: #fff;
  position: relative;
}
.grid-container-pvc-dograma {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  align-items: center;
  justify-content: center;
}
.container-special {
  margin-top: 2.4rem;
}
.heading-special {
  margin-bottom: 4rem !important;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(235, 126, 126, 1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.img-box-pvc img {
  width: 90%;
  border: 3px solid black;
}
.text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  color: #333;
}
.characteristics {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.characteristics-item {
  display: flex;
  gap: 2.4rem;
  font-size: 1.8rem;
  line-height: 1.4;
  align-items: center;
  justify-content: start;
  font-weight: 500;
}
.characteristics-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: rgba(235, 126, 126, 1);
}
.pvc-dograma-vorteile {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-size: 1.4rem;
  color: #777;
  line-height: 1.4;
}
.pvc-dograma-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  margin-left: 3.2rem;
}
.text-bottom {
  margin-top: 2.4rem;
}
.link-botom:visited,
.link-botom:link {
  display: block;
  padding: 3.2rem 6.4rem;
  background-color: rgba(235, 126, 126, 1);
  margin-top: 3.2rem;
  border-radius: 11px;
  font-size: 2.4rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in;
  margin-bottom: 10rem;
}
.link-botom:hover,
.link-botom:active {
  background-color: #bc6565;
}
.img-height-adjust {
  height: 58.6rem;
}
.link-no-margin {
  margin-top: 4rem;
  margin-bottom: 4.8rem !important;
}
/* ****************************************************** */
/* *******SECTION 3*************** */
/* ****************************************************** */
.section-features {
  background-color: #f2f5f9;
  padding: 7rem 0 10rem 0;
  position: relative;
}
.features-container {
  position: relative;
  max-width: 120rem;
  height: rem;
  background-color: #fff;
  padding: 0 3.2rem;
  margin: 4.8rem auto 0 auto;
  border-bottom: 2px solid rgba(235, 126, 126, 1);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}
.buttons-tab {
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2.4rem;
}
.btn-change {
  border-radius: 11px;
  border: none;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: rgba(235, 126, 126, 1);
  transition: all 0.4s;
}
.btn-change:hover,
.btn-change:active {
  background-color: #d47171;
}
.btn-active {
  transform: translateY(6.75%);
  background-color: #d47171;
}
.features-content {
  padding: 7.2rem 4.8rem;
  display: none;
  visibility: hidden;
  overflow: hidden;
}
.feature-heading {
  text-align: left;
  margin-bottom: 1.8rem;
  text-shadow: 1px 1px rgba(235, 126, 126, 1);
}
.grid-container-2--cols {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
.feature-img {
  width: 37rem;
  height: 37rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.4;
}
.characteristics {
  margin: 3.2rem 0 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-size: 1.6rem;
  color: #777;
}
.characteristics-list-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: start;
}
.feature-text-down {
  margin-top: 2.4rem;
}
.feature-active {
  display: block;
  visibility: visible;
}
/* ****************************************************** */
/* *******Choose us*************** */
/* ****************************************************** */

.flex-container-choose-us {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  justify-items: center;
  align-items: start;
  margin-bottom: 4.8rem;
  grid-template-columns: repeat(4, 1fr);
}
.flex-item-choose-us {
  padding: 2rem 1.6rem 2rem 1.6rem;
  max-width: 30rem;
}
.heading-choose-us {
  text-align: center !important;
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;
}
.flex-item-choose-us ion-icon {
  font-size: 3.2rem;
  color: #d47171;
  background-color: #f6e3e3;
  padding: 1.6rem;
  margin-bottom: 1.8rem;
  border-radius: 50%;
}
.text-choose-us {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.6;
}
.heading-choose-us-p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.2rem;
  text-align: left;
}
/* ****************************************************** */
/* *******SECTION 4*************** */
/* ****************************************************** */
.section-shtori {
  background-color: #fff;
  padding: 4.8rem 0 4.8rem 0;
}

.grid-container-z {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12rem;
  column-gap: 6.4rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.z-img {
  width: 56.6rem;
  height: 26.6rem;
}
.img-box {
  padding: 1rem;
}
.special-img {
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.05);
}
.special-img_1 {
  height: 60%;
}
.text-content {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #666;
}
/* ****************************************************** */
/* *******Opinions*************** */
/* 
****************************************************** */
.container-opinions {
  position: relative;
  background-color: #f2f5f9;
  padding: 10rem 3.2rem 6.4rem 3.2rem;
  margin-bottom: 4.8rem;
  text-align: center;
  height: 50rem;
}
.flex-container-opinions {
  display: grid;
  align-items: start;
  justify-items: center;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  grid-template-columns: repeat(4, 1fr);
}
.flex-item {
  max-width: 24rem;
}
.flex-person-name {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.2rem;
}
.person-photo {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.person-name {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: #555;
}
.icon-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}
.icon-container ion-icon {
  color: gold;
  font-size: 2.4rem;
}
.opinion-text {
  margin-top: 1rem;
  color: #888;
  text-align: left !important;
  font-size: 1.2rem;
  line-height: 1.6;
}
/* ****************************************************** */
/* *******Section cards*************** */
/* ****************************************************** */
.grid-container-1col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.card {
  background-color: rgba(235, 126, 126, 1);
  border-radius: 11px;
  display: flex;
  gap: 4.8rem;
  margin-bottom: 4.8rem;
  max-height: 50rem;
}
.card-img {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 50rem;
}
.card-content {
  padding: 3rem;
}
.heading-card {
  color: #ffff;
}
.card-text {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.3;
}
.characteristics-icon-cards {
  color: #fbe5e5 !important;
}
.characteristics-text-cards {
  color: #fbe5e5 !important;
}
.characteristics-cards {
  gap: 0.8rem !important;
  margin-top: 1.4rem !important;
}
.heading-card-special {
  margin-bottom: 1.4rem !important;
  color: #fff;
  font-weight: 700;
}

/* ****************************************************** */
/* *******Section Vetrozashtitni Zavesi*************** */
/* ****************************************************** */
.section-vetrozashtitni-zavesi {
  margin-top: 4.8rem;
  padding: 4.8rem 0 9.6rem 0;
}
.container-vetrozashtitni-zavesi {
  display: flex;
  gap: 9.3rem;
  justify-content: center;
  align-items: center;
}
.img-vz {
  max-width: 57.4rem;
  max-height: 51rem;
  border: 2px solid black;
}
.vz-htext {
  font-size: 1.8rem;
  line-height: 1.6;
}
.characteristics-list-item-vz {
  line-height: 1.3;
}
.text-vz-special {
  font-weight: 500;
}
/* ****************************************************** */
/* *******Section Stukleni Vitrini*************** */
/* ****************************************************** */
.heading-sv {
  margin-bottom: 2.4rem !important;
}
.section-stukleni-vitrini {
  padding: 0 0 9.6rem 0;
}
.container-sv {
  display: flex;
  gap: 9.3rem;
  justify-content: center;
  align-items: center;
}
.grid-container-sv {
  min-width: 60rem;
  max-width: 60rem;
  min-height: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;

  margin: 1rem;
  overflow: hidden;
}

.img-container-sv--1 {
  grid-row: 1 / span 2;
  grid-column: 1;
}
.img-container-sv--2 {
  grid-row: 1 / span 3;
  grid-column: 2;
}
.img-container-sv--3 {
  grid-row: 3 / span 3;
  grid-column: 1;
}
.img-container-sv--4 {
  grid-row: 4 / span 2;
  grid-column: 2;
}
.img-sv {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.7rem;
}
.text-hyper {
  color: #333;
}
/* ****************************************************** */
/* *******Gallery*************** */
/* ****************************************************** */
.section-gallery {
  padding-bottom: 6.4rem;
}
.gallery-grid {
  display: grid;

  grid-template-columns: 22rem 3fr;
  width: 100%;
  column-gap: 3.2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.4rem;
  row-gap: 1.4rem;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
}

.gallery-grid .filtr-item {
  height: 23rem;
  width: 33rem;

  border-radius: 5px;
  overflow: hidden;
}
.gallery-grid a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.gallery-grid a img:hover {
  transform: scale(1.05);
}
#lg-download-1 {
  display: none;
  visibility: hidden;
}
.container-gallery {
  background-color: #f2f5f9;

  padding-bottom: 3.2rem;
  border-radius: 5px;
  padding-left: 0rem !important;
}
.list-gallery {
  display: flex;

  margin-bottom: 3.2rem;
  list-style: none;
  gap: 2.4rem;
}
.list-gallery li {
  border: 1px solid #000;
  padding: 1.6rem 3.2rem;
}
.active-button {
  background-color: yellow;
}
.hide {
  display: none;
}

.sidebar {
  background: #eb7e7e;
  transition: left 0.4s ease;
  grid-column-start: 1;
  grid-column: 1;
  grid-column-end: 1;
  grid-row-end: 10;
  grid-row-start: 1;
  align-self: start;
}
.sidebar.show {
  left: 0px;
}
.sidebar .text-sidebar {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  text-align: center;
  background: #eb7e7e;
  line-height: 6.5rem;
}
.gallery-sidebar-list {
  background: #eb7e7e;
  height: 100%;
  width: 100%;
  list-style: none;
  cursor: pointer;
}
.gallery-sidebar-list li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;

  line-height: 6rem;
}
.gallery-sidebar-list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.gallery-sidebar-list li p {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 0.8rem;
  font-weight: 500;
  display: block;
  /* width: 100%; */
  border-left: 3px solid transparent;
  transition: 0.3s all;
}
.gallery-sidebar-list li.active .border-left {
  color: #fff;
  background: #eb7e7e;
  border-left-color: #fff;
}

.gallery-sidebar-list li p:hover {
  color: #f7cbcb;
}
.gallery-sidebar-list-under {
  list-style: none;
  position: static;
  display: none;
}
.gallery-sidebar-list .feat-show.show {
  display: block;
}
.gallery-sidebar-list .serv-show.show1 {
  display: block;
}
.gallery-sidebar-list-under li {
  border-top: none;
  line-height: 4.2rem;
}
.gallery-sidebar-list-under li p {
  font-size: 1.7rem;
  color: #fff;
  padding-left: 1.6rem;
  transition: 0.3s all;
}
.gallery-sidebar-list li.active ul li p {
  color: #fff;
  background: #eb7e7e;
  border-left-color: transparent;
}
.gallery-sidebar-list-under li p:hover {
  color: #f7cbcb !important;
}
.gallery-sidebar-list li p span {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2.2rem;
  transition: transform 0.4s;
}
.gallery-sidebar-list li p span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

/* ****************************************************** */
/* *******Footer*************** */
/* ****************************************************** */
.ending-text {
  background-color: #eb7e7e;
  border-top: 1px solid #fbe5e5;
  padding: 1.2rem 2.4rem 1rem 2.4rem;
}
.ending-paragraph {
  color: #fbe5e5;
  opacity: 0.8;
}
.flex-container-footer {
  margin-top: 6.4rem;
  padding: 4.8rem 4.8rem 4.8rem 1.2rem;
  background-color: #eb7e7e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: flex-start;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
}
.flex-item-footer {
  max-width: 40rem;
}
.flex-item-heading {
  margin-bottom: 2.4rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
.flex-item-text {
  font-size: 1.6rem;
  color: #fbe5e5;
  line-height: 1.6;
}
.list-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item-footer ion-icon,
.flex-container-foooter ion-icon {
  font-size: 1.8rem;
  color: #fbe5e5;
}
.list-item-footer:link,
.list-item-footer:visited {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #fbe5e5;
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
}
.list-item-footer:hover,
.list-item-footer:active {
  color: #f7cbcb;
}
.contact-text:link,
.contact-text:visited {
  color: #fbe5e5;
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
}
.contact-text:hover,
.contact-text:active {
  color: #f7cbcb;
}
.flex-container-foooter {
  justify-content: flex-start !important;
}
.social-links {
  margin-top: 2.4rem;
}
.icon-container-footer:visited,
.icon-container-footer:link ion-icon {
  color: #fbe5e5;
  font-size: 4.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.icon-container-footer:hover,
.icon-container-footer:active ion-icon {
  color: #f7cbcb;
}

/* ****************************************************** */
/* *******Shapes*************** */
/* ****************************************************** */
.custom-shape-divider-bottom-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-hero svg {
  position: relative;
  display: block;
  width: calc(139% + 0.13rem);
  height: 8.5rem;
}

.custom-shape-divider-bottom-hero .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-features svg {
  height: 7rem !important;
}
.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(139% + 0.13rem);
  height: 10rem;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(139% + 0.13rem);
  height: 6.9rem;
  transform: rotateY(180deg);
}

.custom-shape-divider-top .shape-fill {
  fill: #ffffff;
}

/* ****************************************************** */
/* *******MODAL*************** */
/* ****************************************************** */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  align-items: start;
  justify-items: start;
}
.icon-heading-container {
  display: flex;
  gap: 1.2rem;
  height: 3.6rem;
  align-items: center;
}
.icon-modal {
  width: 2.4rem;
  height: 2.4rem;
}
.adress-title {
  font-size: 1.6rem;
}
.adress-text:link,
.adress-text:visited {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  margin-left: 3.2rem;
  color: inherit;
}
.flex-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  height: 3.6rem;
  justify-content: center;
}
.tel-phone:link,
.tel-phone:visited {
  font-size: 1.4rem;
  color: inherit;
}
.tel-phone:hover,
.tel-phone:active,
.adress-text:hover,
.adress-text:active {
  color: #444;
}
